@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 204vh;
    position: fixed;
}

/*-------------------NAV----------------------*/

nav{
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: #4F1699; 
    z-index: 1000; 
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    margin-left: 20px;
    display: flex;
    max-width: 4rem;
    max-height: 4rem;
}

nav ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

nav ul li{
    margin-right: 43px;
}

nav ul li a{
    color: #ddd;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.idiomaEUA{
    max-width: 3rem;
    max-height: 3rem;
}

.polygono{
    margin-top: 6.8px;
    margin-left: 5.5px;
    max-width: 1.1rem;
}

/*-------------------HOME-------------------*/

.home{
    top: 64px;
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

.home img {
    width: 204vh;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Kameron', serif;
    display: flex;
    position: relative;
    color: #FFF;
    font-size: 94px;
    justify-content: center;
    top: 9rem;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 15rem;
    height: 16rem;
}

.buttons a{
    color: #FFF;
    margin: 1rem;
    background-color: transparent;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:3.2px solid #FFF;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: transform 0.4s ease;
}

.buttons a:hover{
    transform: scale(1.4);
}

/*-------------MENU-------------------*/

#menuScreen{
  position: absolute;
  background-color: #ccc;
  margin-top: 4rem;
  height: 100vh;
  width: 204vh;
  justify-content: center;
  align-items: center;
  top: 0vh;
  transition: top 0.5s ease;
}

#menuScreen.open{
  top: -100vh;
  z-index: 2;
}

#menuScreen .fundo {
  width: 204vh;
  height: 100vh;
  position: fixed;
  filter: brightness(0.4);
}

.fases #closebutton{
  position: absolute;
  top: 15px;
  right: 3.5rem;
  z-index: 4;
  cursor: pointer;
}

#menuScreen.remove{
  top: 0vh;
  z-index: -1;
}

#menuScreen.hidden{
  display: none;
}

.fases {
  background-color: transparent;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 46%;
  left: 49.58%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.fases .imagem-container {
  width: 192vh;
  height: 28vh;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.fases img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 5px;
}

.fases #fase-1{
  object-position: 20% 50%;
}

.fases #AustonIsland:hover{
  transform: scale(1.02);
  z-index: 3;
}

.fases #fase-2{
  object-position: 20% 60%;
  filter: brightness(0.6);
}

.fases #fase-3{
  object-position: 20% 68%;
  filter: brightness(0.6);
}

h2{
  display: flex;
  text-align: center;
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #ddd;
  cursor: pointer;
}

.h2fase1{
  top: 42%;
  left: 575px;
}

.h2fase2{
  top: 42%;
  left: 549px;
}

.h2fase3{
  top: 42%;
  left: 545.66px;
}

.imagem-container .locked{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 655px;
  width: 140px;
  height: 140px;
}

/*-------------------GAME-------------------*/





#game{
  position: absolute;
  background-color: #ccc;
  margin-top: 4rem;
  height: 100vh;
  width: 204vh;
  justify-content: center;
  align-items: center;
  top: 0vh;
  transition: top 0.5s ease;
}

#game .fundo3{
  width: 204vh;
  height: 100vh;
  position: fixed;
  filter: saturate(150%) hue-rotate(70deg);
}

#game .gameScreen{
  position: absolute;
  margin-top: 1vh;
  margin-left: 1vh;
  width: 150vh;
  height: 90vh;
  background-color: gray;
  border-radius: 8px;
  overflow: hidden;
}

#game .gameScreen img{
  position: absolute;
  width: 150vh;
  height: 90vh;
  background-color: gray;
  border-radius: 8px;
  transform: scale(1.075);
}

#game .inputScreen{
  position: absolute;
  margin-top: 1vh;
  width: 49.5vh;
  height: 90vh;
  margin-left: 152vh;
  background-color: #282C34;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  padding: 1.2rem 0 1.8rem;
  flex-direction: column;
}

#game .inputScreen .editor-code-numbers{
  margin-left: 0.8rem;
  margin-top: 2rem;
  padding: 0 0.2rem;
  text-align: right;
  color: #646161;
  font-family: 'Poppins', sans-serif;
  width: 2px;
}

#game .inputScreen .editor-code-numbers .code-number{
  line-height: 1.5;
  font-size: 1rem;
  width: 15px;
  height: 15px;
  margin-top: 8px;
  text-align: right;
}

#game .inputScreen .code{
  position: absolute;
  left: 3rem;

}

.code input{
  line-height: 1.3;
  background-color: #646161;
  color: #E0E0E0;
  font-family: 'Poppins', sans-serif;
  border: none;
  font-size: 1rem;
}

.tab{
  margin-left: 0.2rem;
  margin-top: 0.8rem;
}

.code_blue{
  color: #647AEF;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}


#game .inputScreen .run-code{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 80vh;
  margin-left: 5rem;
  width: 6rem;
  height: 2.4rem;
  background-color: #66D211;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 3px;
  border: 3.4px solid #66D211;
  transition: background-color 0.4s ease ;
}

#game .inputScreen .run-code:hover{
  background-color: transparent;
}

#game.open{
  top: -100vh;
  z-index: 2;
}

#game.hidden{
  display: none;
}




/* ------------ PAREDES -------------- */

#game .gameScreen #wall1{
  position: absolute;
  width: 3rem;
  left: 40px;
  height: 23.5rem;
  top: 5.7rem;
  background-color: #282C34;
}

#game .gameScreen #wall2{
  position: absolute;
  width: 10.4rem;
  left: 92px;
  height: 2.5rem;
  top: 27rem;
  background-color: #4F1699;
}

#game .gameScreen #wall3{
  position: absolute;
  width: 14rem;
  left: 60px;
  height: 2rem;
  top: 0.2rem;
  background-color: #342464;
}

#game .gameScreen #wall4{
  position: absolute;
  width: 18.6rem;
  left: 209px;
  height: 1.2rem;
  top: 4.3rem;
  background-color: #9834;
}

#game .gameScreen #wall5{
  position: absolute;
  width: 39rem;
  left: 460px;
  height: 2.2rem;
  top: .2rem;
  background-color: #985;
}

#game .gameScreen #wall6{
  position: absolute;
  width: 3rem;
  left: 1038px;
  height: 22.5rem;
  top: 1.9rem;
  background-color: #2834;
}

#game .gameScreen #wall7{
  position: absolute;
  width: 2.9rem;
  left: 488px;
  height: 12.6rem;
  top: 24.2rem;
  background-color: #0087;
}

#game .gameScreen #wall8{
  position: absolute;
  width: 1.2rem;
  left: 319px;
  height: 4.9rem;
  top: 24.7rem;
  background-color: #ad2dad;
}

#game .gameScreen #wall9{
  position: absolute;
  width: 7.8rem;
  left: 267px;
  height: 1.2rem;
  top: 24.0rem;
  background-color: #293;
}

#game .gameScreen #wall10{
  position: absolute;
  width: 2.6rem;
  left: 240px;
  height: 2.5rem;
  top: 7.2rem;
  background-color: rgb(17, 148, 120);
}

#game .gameScreen #wall11{
  position: absolute;
  width: 1.2rem;
  left: 23.5rem;
  height: 2.2rem;
  top: 21.5rem;
  background-color: #96725a;
}

#game .gameScreen #wall12{
  position: absolute;
  width: 1.2rem;
  left: 318px;
  height: 9.6rem;
  top: 1.3rem;
  background-color: #072052;
}

#game .gameScreen #wall13{
  position: absolute;
  width: 1.2rem;
  left: 545px;
  height: 4.9rem;
  top: 5.7rem;
  background-color: #7e2121;
}

#game .gameScreen #wall14{
  position: absolute;
  width: 6.3rem;
  left: 545px;
  height: 1.0rem;
  top: 9.9rem;
  background-color: #f0f0f0;
}

#game .gameScreen #wall15{
  position: absolute;
  width: 1rem;
  left: 380px;
  height: 1rem;
  top: 27.3rem;
  background-color: #e2ece4;
}

#game .gameScreen #wall16{
  position: absolute;
  width: 1.2rem;
  left: 432px;
  height: 8rem;
  top: 21.5rem;
  background-color: rgb(40, 1, 20);
}

#game .gameScreen #wall17{
  position: absolute;
  width: 6.1rem;
  left: 570px;
  height: 1.0rem;
  top: 28.5rem;
  background-color: #1fa588;
}

#game .gameScreen #wall18{
  position: absolute;
  width: 6.1rem;
  left: 210px;
  height: 1rem;
  top: 21.5rem;
  background-color: #bd4caa;
}

#game .gameScreen #wall19{
  position: absolute;
  width: 4.9rem;
  left: 153px;
  height: 1rem;
  top: 23rem;
  background-color: #365fb1;
}

#game .gameScreen #wall20{
  position: absolute;
  width: 1.2rem;
  left: 570px;
  height: 3.9rem;
  top: 24.5rem;
  background-color: #222630;
}

#game .gameScreen #wall21{
  position: absolute;
  width: 7.9rem;
  left: 267px;
  height: 1.0rem;
  top: 13.0rem;
  background-color: rgb(219, 155, 200);
}

#game .gameScreen #wall22{
  position: absolute;
  width: 3rem;
  left: 128px;
  height: 1rem;
  top: 24.4rem;
  background-color: #365fb1;
}

#game .gameScreen #wall23{
  position: absolute;
  width: 4.7rem;
  left: 320px;
  height: 0.8rem;
  top: 15.8rem;
  background-color: #ddb881;
}

#game .gameScreen #wall24{
  position: absolute;
  width: 14.9rem;
  left: 211px;
  height: 1rem;
  top: 18.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall25{
  position: absolute;
  width: 8.6rem;
  left: 90px;
  height: 1rem;
  top: 15.6rem;
  background-color: #365fb1;
}

#game .gameScreen #wall26{
  position: absolute;
  width: 1.2rem;
  left: 210px;
  height: 1.4rem;
  top: 16.8rem;
  background-color: #365fb1;
}

#game .gameScreen #wall27{
  position: absolute;
  width: 1.3rem;
  left: 153px;
  height: 1.2rem;
  top: 14.3rem;
  background-color: #365fb1;
}

#game .gameScreen #wall28{
  position: absolute;
  width: 1rem;
  left: 270px;
  height: 1rem;
  top: 28.5rem;
  background-color: #2e5358;
}

#game .gameScreen #wall29{
  position: absolute;
  width: 1.3rem;
  left: 265px;
  height: 4rem;
  top: 14.2rem;
  background-color: #365fb1;
}

#game .gameScreen #wall30{
  position: absolute;
  width: 2.7rem;
  left: 89px;
  height: 1rem;
  top: 19.9rem;
  background-color: #962596;
}

#game .gameScreen #wall31{
  position: absolute;
  width: 2.9rem;
  left: 129px;
  height: 2.2rem;
  top: 18.8rem;
  background-color: #365fb1;
}

#game .gameScreen #wall32{
  position: absolute;
  width: 3.2rem;
  left: 130px;
  height: 1rem;
  top: 7.1rem;
  background-color: #36b19c;
}

#game .gameScreen #wall33{
  position: absolute;
  width: 1.2rem;
  left: 182.5px;
  height: 5rem;
  top: 7.1rem;
  background-color: #365fb1;
}

#game .gameScreen #wall34{
  position: absolute;
  width: 1.2rem;
  left: 129px;
  height: 6.3rem;
  top: 6.0rem;
  background-color: #8f9931;
}
#game .gameScreen #wall35{
  position: absolute;
  width: 3rem;
  left: 182px;
  height: 1rem;
  top: 11.4rem;
  background-color: #365fb1;
}

#game .gameScreen #wall36{
  position: absolute;
  width: 3.3rem;
  left: 450px;
  height: 1rem;
  top: 7.3rem;
  background-color: #365fb1;
}

#game .gameScreen #wall37{
  position: absolute;
  width: 4.7rem;
  left: 376px;
  height: 1rem;
  top: 10.1rem;
  background-color: #f5b171;
}

#game .gameScreen #wall38{
  position: absolute;
  width: 1.2rem;
  left: 430px;
  height: 5.3rem;
  top: 4.5rem;
  background-color: #b460ec;
}

#game .gameScreen #wall39{
  position: absolute;
  width: 1.2rem;
  left: 486px;
  height: 5.4rem;
  top: 8.2rem;
  background-color: #21b421;
}

#game .gameScreen #wall40{
  position: absolute;
  width: 1.2rem;
  left: 430px;
  height: 3rem;
  top: 15.9rem;
  background-color: #365fb1;
}

#game .gameScreen #wall41{
  position: absolute;
  width: 4.8rem;
  left: 430px;
  height: 1rem;
  top: 12.9rem;
  background-color: #7536db;
}

#game .gameScreen #wall42{
  position: absolute;
  width: 1.2rem;
  left: 345px;
  height: 1.2rem;
  top: 17rem;
  background-color: #1aa538;
}

#game .gameScreen #wall43{
  position: absolute;
  width: 3rem;
  left: 377px;
  height: 1rem;
  top: 1.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall44{
  position: absolute;
  width: 3rem;
  left: 380px;
  height: 1rem;
  top: 28.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall45{
  position: absolute;
  width: 3rem;
  left: 455px;
  height: 1rem;
  top: 21.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall46{
  position: absolute;
  width: 15.2rem;
  left: 539px;
  height: 1rem;
  top: 21.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall47{
  position: absolute;
  width: 4.9rem;
  left: 485px;
  height: 1rem;
  top: 18.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall48{
  position: absolute;
  width: 1rem;
  left: 485px;
  height: 2.9rem;
  top: 18.6rem;
  background-color: #365fb1;
}

#game .gameScreen #wall49{
  position: absolute;
  width: 1rem;
  left: 543px;
  height: 2.9rem;
  top: 18.9rem;
  background-color: #36b173;
}

#game .gameScreen #wall50{
  position: absolute;
  width: 4.5rem;
  left: 543px;
  height: 1rem;
  top: 13rem;
  background-color: #365fb1;
}

#game .gameScreen #wall51{
  position: absolute;
  width: 1rem;
  left: 543px;
  height: 2.6rem;
  top: 14rem;
  background-color: #365fb1;
}

#game .gameScreen #wall52{
  position: absolute;
  width: 3.3rem;
  left: 563px;
  height: 1rem;
  top: 15.7rem;
  background-color: #a5196b;
}

#game .gameScreen #wall53{
  position: absolute;
  width: 8.2rem;
  left: 599px;
  height: 1rem;
  top: 18.5rem;
  background-color: rgb(214, 18, 165);
}

#game .gameScreen #wall54{
  position: absolute;
  width: 11.7rem;
  left: 537px;
  height: 2.4rem;
  top: 34.2rem;
  background-color: #365fb1;
}

#game .gameScreen #wall55{
  position: absolute;
  width: 1rem;
  left: 598px;
  height: 2.0rem;
  top: 16.8rem;
  background-color: #365fb1;
}

#game .gameScreen #wall56{
  position: absolute;
  width: 3rem;
  left: 623px;
  height: 2.5rem;
  top: 24.2rem;
  background-color: #365fb1;
}

#game .gameScreen #wall57{
  position: absolute;
  width: 1.4rem;
  left: 706px;
  height: 5.6rem;
  top: 12.9rem;
  background-color: #365fb1;
}

#game .gameScreen #wall58{
  position: absolute;
  width: 3rem;
  left: 571px;
  height: 1rem;
  top: 31.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall59{
  position: absolute;
  width: 1.2rem;
  left: 600px;
  height: 3rem;
  top: 31.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall60{
  position: absolute;
  width: 7.1rem;
  left: 660px;
  height: 1rem;
  top: 12.8rem;
  background-color: #365fb1;
}

#game .gameScreen #wall61{
  position: absolute;
  width: 8rem;
  left: 655px;
  height: 1rem;
  top: 31.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall62{
  position: absolute;
  width: 1.1rem;
  left: 655px;
  height: 3rem;
  top: 31.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall63{
  position: absolute;
  width: 1.2rem;
  left: 598px;
  height: 5.7rem;
  top: 2.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall64{
  position: absolute;
  width: 1.2rem;
  left: 705px;
  height: 8rem;
  top: 21.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall65{
  position: absolute;
  width: 1.1rem;
  left: 765px;
  height: 6.5rem;
  top: 18.7rem;
  background-color: #365fb1;
}

#game .gameScreen #wall66{
  position: absolute;
  width: 8.3rem;
  left: 620px;
  height: 1.0rem;
  top: 7.2rem;
  background-color: #365fb1;
}

#game .gameScreen #wall67{
  position: absolute;
  width: 4.5rem;
  left: 765px;
  height: 1.1rem;
  top: 27.2rem;
  background-color: #365fb1;
}

#game .gameScreen #wall68{
  position: absolute;
  width: 3rem;
  left: 820px;
  height: 1rem;
  top: 30rem;
  background-color: #365fb1;
}

#game .gameScreen #wall69{
  position: absolute;
  width: 1.2rem;
  left: 652px;
  height: 2.9rem;
  top: 4.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall70{
  position: absolute;
  width: 1.1rem;
  left: 765px;
  height: 2rem;
  top: 30rem;
  background-color: #365fb1;
}

#game .gameScreen #wall71{
  position: absolute;
  width: 3rem;
  left: 735px;
  height: 1rem;
  top: 5.8rem;
  background-color: #365fb1;
}

#game .gameScreen #wall72{
  position: absolute;
  width: 1.2rem;
  left: 818px;
  height: 2.6rem;
  top: 24.3rem;
  background-color: #365fb1;
}

#game .gameScreen #wall73{
  position: absolute;
  width: 1.2rem;
  left: 764px;
  height: 1.9rem;
  top: 4.3rem;
  background-color: #365fb1;
}

#game .gameScreen #wall74{
  position: absolute;
  width: 6.3rem;
  left: 740px;
  height: 1.2rem;
  top: 9.9rem;
  background-color: #365fb1;
}

#game .gameScreen #wall75{
  position: absolute;
  width: 1.2rem;
  left: 822px;
  height: 7.9rem;
  top: 2.39rem;
  background-color: #365fb1;
}

#game .gameScreen #wall76{
  position: absolute;
  width: 4.5rem;
  left: 763px;
  height: 1.0rem;
  top: 15.8rem;
  background-color: #93db64;
}
#game .gameScreen #wall77{
  position: absolute;
  width: 4.5rem;
  left: 766px;
  height: 1.0rem;
  top: 18.6rem;
  background-color: #7ce6cb;
}
#game .gameScreen #wall78{
  position: absolute;
  width: 1rem;
  left: 875px;
  height: 6.7rem;
  top: 4.3rem;
  background-color: #365fb1;
}
#game .gameScreen #wall79{
  position: absolute;
  width: 7rem;
  left: 890px;
  height: 1rem;
  top:10.1rem;
  background-color: #365fb1;
}
#game .gameScreen #wall80{
  position: absolute;
  width: 1rem;
  left: 986px;
  height: 6.3rem;
  top: 10.5rem;
  background-color: #365fb1;
}
#game .gameScreen #wall81{
  position: absolute;
  width: 2.8rem;
  left: 995px;
  height: 1.2rem;
  top: 15.6rem;
  background-color: #365fb1;
}
#game .gameScreen #wall82{
  position: absolute;
  width: 1rem;
  left: 876px;
  height: 6.7rem;
  top: 12.9rem;
  background-color: #365fb1;
}
#game .gameScreen #wall83{
  position: absolute;
  width: 4rem;
  left: 820px;
  height: 1rem;
  top: 12.9rem;
  background-color: #365fb1;
}
#game .gameScreen #wall84{
  position: absolute;
  width: 4.3rem;
  left: 877px;
  height: 1.2rem;
  top: 18.5rem;
  background-color: #365fb1;
}
#game .gameScreen #wall85{
  position: absolute;
  width: 1.3rem;
  left: 986px;
  height: 4rem;
  top: 18.5rem;
  background-color: #365fb1;
}
#game .gameScreen #wall86{
  position: absolute;
  width: 1.3rem;
  left: 954px;
  height: 3.9rem;
  top: 4.3rem;
  background-color: #365fb1;
}
#game .gameScreen #wall87{
  position: absolute;
  width: 2rem;
  left: 930px;
  height: 1.2rem;
  top: 4.3rem;
  background-color: #365fb1;
}
#game .gameScreen #wall88{
  position: absolute;
  width: 2rem;
  left: 970px;
  height: 1.0rem;
  top: 7.1rem;
  background-color: #365fb1;
}
#game .gameScreen #wall89{
  position: absolute;
  width: 1.2rem;
  left: 931px;
  height: 2rem;
  top: 14.7rem;
  background-color: #365fb1;
}
#game .gameScreen #wall90{
  position: absolute;
  width: 3rem;
  left: 1039px;
  height: 12rem;
  top: 27.2rem;
  background-color: #365fb1;
}
#game .gameScreen #wall91{
  position: absolute;
  width: 1.2rem;
  left: 875px;
  height: 4rem;
  top: 32.9rem;
  background-color: #365fb1;
}
#game .gameScreen #wall92{
  position: absolute;
  width: 1.3rem;
  left: 928px;
  height: 3.8rem;
  top: 21.5rem;
  background-color: #365fb1;
}
#game .gameScreen #wall93{
  position: absolute;
  width: 1.2rem;
  left: 930px;
  height: 5.2rem;
  top: 30.1rem;
  background-color: #365fb1;
}
#game .gameScreen #wall94{
  position: absolute;
  width: 1rem;
  left: 985px;
  height: 3.7rem;
  top: 31.5rem;
  background-color: #365fb1;
}
#game .gameScreen #wall95{
  position: absolute;
  width: 10rem;
  left: 840px;
  height: 1.1rem;
  top: 24.2rem;
  background-color: #365fb1;
}
#game .gameScreen #wall96{
  position: absolute;
  width: 1rem;
  left: 960px;
  height: 2.5rem;
  top: 27.0rem;
  background-color: #365fb1;
}
#game .gameScreen #wall97{
  position: absolute;
  width: 4.8rem;
  left: 820px;
  height: 1rem;
  top: 21.5rem;
  background-color: #365fb1;
}
#game .gameScreen #wall98{
  position: absolute;
  width: 3.4rem;
  left: 980px;
  height: 1rem;
  top: 28.5rem;
  background-color: #365fb1;
}
#game .gameScreen #wall99{
  position: absolute;
  width: 3.5rem;
  left: 900px;
  height: 1rem;
  top: 27rem;
  background-color: #365fb1;
}
#game .gameScreen #wall100{
  position: absolute;
  width: 1rem;
  left: 903px;
  height: 2.8rem;
  top: 28.2rem;
  background-color: #365fb1;
}
#game .gameScreen #wall101{
  position: absolute;
  width: 2.4rem;
  left: 903px;
  height: 1rem;
  top: 30.1rem;
  background-color: #365fb1;
}
#game .gameScreen #wall102{
  position: absolute;
  width: 1rem;
  left: 625px;
  height: 2rem;
  top: 19.4rem;
  background-color: #365fb1;
}
#game .gameScreen #wall103{
  position: absolute;
  width: 1rem;
  left: 795px;
  height: 2.3rem;
  top: 34.2rem;
  background-color: #29ce81;
}

#game .gameScreen #wall104{
  position: absolute;
  width: 1rem;
  left: 765px;
  height: 2.3rem;
  top: 35.7rem;
  background-color: #365fb1;
}

#game .gameScreen #wall105{
  position: absolute;
  width: 1rem;
  left: 822px;
  height: 2.3rem;
  top: 32.8rem;
  background-color: #365fb1;
}

#game .gameScreen #wall106{
  position: absolute;
  width: 12rem;
  left: 845px;
  height: 2.4rem;
  top: 37.2rem;
  background-color: #365fb1;
}

#game .gameScreen #wall107{
  position: absolute;
  width: 1rem;
  left: 488px;
  height: 2.3rem;
  top: 38.8rem;
  background-color: #365fb1;
}

#game .gameScreen #wall108{
  position: absolute;
  width: 4rem;
  left: 495px;
  height: 1rem;
  top: 39.9rem;
  background-color: #365fb1;
}

#game .gameScreen #wall109{
  position: absolute;
  width: 1rem;
  left: 238px;
  height: 5.3rem;
  top: 35.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall110{
  position: absolute;
  width: 4rem;
  left: 181px;
  height: 1.2rem;
  top: 35.5rem;
  background-color: #365fb1;
}

#game .gameScreen #wall111{
  position: absolute;
  width: 2.8rem;
  left: 238px;
  height: 1.2rem;
  top: 39.9rem;
  background-color: #be2a99;
}

#game .gameScreen #wall112{
  position: absolute;
  width: 1.28rem;
  left: 182px;
  height: 3.9rem;
  top: 32.8rem;
  background-color: #75e4bf;
}

#game .gameScreen #wall113{
  position: absolute;
  width: 2.4rem;
  left: 160px;
  height: 0.8rem;
  top: 33rem;
  background-color: #75e4bf;
}

#game .gameScreen #wall114{
  position: absolute;
  width: 3rem;
  left: 985px;
  height: 1rem;
  top: 31.4rem;
  background-color: #deebe6;
}

#game .gameScreen #wall115{
  position: absolute;
  width: 1.2rem;
  left: 930px;
  height: 1.5rem;
  top: 10.8rem;
  background-color: #75e4bf;
}

#game .gameScreen #wall116{
  position: absolute;
  width: 1.2rem;
  left: 780px;
  height: 1rem;
  top: 35.7rem;
  background-color: #75e4bf;
}

#game .gameScreen #wall117{
  position: absolute;
  width: 1.2rem;
  left: 810px;
  height: 1rem;
  top: 34.2rem;
  background-color: #75e4bf;
}

#game .gameScreen #wall118{
  position: absolute;
  width: 1.2rem;
  left: 682px;
  height: 1.1rem;
  top: 10rem;
  background-color: #75e4bf;
}

/* -------------- PIRATA --------------- */

#game .gameScreen .pirate{
  position: relative;
  width: 40rem;
  height: 40rem;
  top: 0.3rem; 
  left: 2.2rem;
  margin-top: 9rem;
  transform: scale(0.06);
  overflow: none;
}

#campo_nivel1 {
  position: relative;
  top: 0;
  right: 0;
}

#game .gameScreen .pirate img{
  background-color: transparent;
  width: 65rem;
  height: 65rem;
}

#game .gameScreen .pirate .detector{
  position: absolute;
  width: 19rem;
  height: 14rem;
  top: 95%;
  left: 70%;
  transform: translate(-70%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
}





/* --------- CRONOMETRO ------------ */


.cronometro{
  z-index: 230;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  padding-top: 8rem;
  gap: 2rem;
  background: linear-gradient(135deg, #462fab, #782a97);
  align-items: center;
  display: flex;
  height: 100vh;
}

h1{
  color: #fff;
}

.cronometro .contador{
  display: flex;
  font-size: 65px;
  font-weight: bold;
  align-items: center;
  color: #fff;
}

.time{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  min-width: 90px;
}

.separator{
  font-size: 60px;
  color:  rgb(235, 227, 227);
  padding: 0 10px;
}

#miliseconds{
  font-size: 35px;
}

.botoes{
  display: flex;   
}

.bottons{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid #fff;
  border-radius: 8px;
  margin: 0 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
}

#startAndStop{
  width: 80px;
  height: 30px;
}

#startAndStop:hover{
  background-color: #fff;
  transition: 0.5s;
  color: #462fab;
}

#restore{
  width: 80px;
  height: 30px;
}

#restore:hover{
  background-color: #fff;
  transition: 0.5s;
  color: #462fab;
} 
